.our-services {
  margin-top: 50px;
}

.flip-container {
  -webkit-perspective: 1000;
  margin: 0 auto 140px auto;
  width: 22.6rem;
  height: 350px;
  border-radius: 15px;
  cursor: pointer;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  width: -webkit-fill-available;
  // width: 320px;
  // height: 200px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.front h3 {
  // text-align: center;
  font-size: 18px;
  font-family: "Poppins", "Lora", sans-serif;
  color: white;
}

.front img {
  width: -webkit-fill-available;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.back {
  // width: 320px;
  // height: 200px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
  // text-align: center;
  font-size: 18px;
  font-family: "Poppins", "Lora", sans-serif;
  color: white;
}

.back h3 {
  margin-top: 20px;
}

.back p {
  font-size: 14px;
  font-family: "Poppins", "Lora", sans-serif;
  margin-right: 15px;
}

.flipper {
  -webkit-transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}


@media only screen and (max-width: 400px) {
  .flip-container {
    margin: 0px auto 100px auto;
  }

  .back{
    font-size: small;
  }
}