.gr-text-0-5 {
    font-size: 0.9rem !important;
}

.gr-text-1 {
    font-size: 1rem !important;
}

.gr-text-1-3 {
    font-size: 1.3rem !important;
}

.gr-text-2 {
    font-size: 1.5rem !important;
}

.gr-text-3 {
    font-size: 2rem !important;
}

.gr-text-4 {
    font-size: 2.5rem !important;
}

.gr-text-5 {
    font-size: 3rem !important;
}

.gr-text-6 {
    font-size: 3.5rem !important;
}

.gr-text-7 {
    font-size: 4rem !important;
}

.gr-text-8 {
    font-size: 4.5rem !important;
}

.gr-text-9 {
    font-size: 5rem !important;
}

.gr-text-10 {
    font-size: 5.5rem !important;
}


@media only screen and (max-width: 500px) {
    .gr-text-6 {
        font-size: 2rem !important;
    }
}







.gb-text-1 {
    font-weight: 400 !important;
}

.gb-text-2 {
    font-weight: 500 !important;
    ;
}

.gb-text-3 {
    font-weight: 700 !important;
}