@import './variables.scss';

//Responsive Section

// Ham-Menu
.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: $theme1;
    margin: 3px 0;
    transition: 0.4s;
}

.brand-logo {
    margin-top: 0px;
    transition: 0.4s;
}

.ham-cross {
    .bar1 {
        width: 25px;
        margin: 6px;
        transform: translate(0, 11px) rotate(-45deg);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        width: 25px;
        margin: 6px;
        transform: translate(0, -11px) rotate(45deg);
    }

    .brand-logo {
        margin-top: 4.5px;
        transition: 0.4s;
    }
}

.hamburger {
    cursor: pointer;
    display: flex;
}


@media only screen and (max-width: 1280px) {
    .show-nav-links {
        display: none !important;
    }

    .show-nav-menu {
        display: flex !important;        
    }
}

@media only screen and (min-width: 1280px) {
    .show-nav-links {
        display: grid !important;
    }

    .show-nav-menu {
        display: none !important;
    }
}




// Header Styles

.header-link {    
    font-size: 1.06rem !important;
    font-weight: 500 !important;
    // padding-right: 35px;
}

.shadow-nav-btns {
    // display: flex;
    justify-content: flex-end;
}

.brand-logo {
    font-style: italic;
    font-weight: 900;
    padding-right: 35px;
}

// .landing-page-1 {
//     // width: fit-content;
// }

// .landing-page-2 {
//     // width: fit-content;
// }

// .responsive-col {
//     width: 50%;
// }

// @media only screen and (max-width: 1280px) {
//     .responsive-col {
//         width: 100%;
//     }
// }

.arrow-icon {
    height: auto;
    width: 1rem;
}

.ham-link {
    // font-size: larger;
    font-weight: 500;
    flex-wrap: inherit;
    display: flex;
    vertical-align: bottom;
    align-content: center;
}

@media only screen and (max-width: 300px) {
    .disclaimer-text {
        font-size: 0.7rem;
    }
}



sidebar
{
    overflow: hidden; /* Hide scrollbars */
    z-index: 1000;
}


.header-div {
    z-index: 10000;
    position: sticky;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
    box-shadow: 7px 8px 20px -2px rgba(0, 0, 0, 0.21);
  }
  
  .header-show {
    top: 0px;
  }
  
  .header-hide {
    top: -8rem;
  }
  