$primary-color: #000000;
$web-color: #6ac2f5;

$bg-grad: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
$bg-grad-1: linear-gradient(109.6deg, #8c101e 11.2%, rgba(110, 44, 107, 1) 91.1%);
$bg-grad-2: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
$bg-grad-4: linear-gradient(to right, #000000, #434343);
$bg-grad-5: linear-gradient(315deg, #08AEEA 20%, #2AF598 100%);

$bg-default: #f4f7fa;
$bg-default-1: #d9d6d6;
$bg-default-2: #d9d6d6;

// // White Theme
// $theme1 : white;
// $theme2 : black;

// Dark Theme
$theme2 : white;
$theme1 : black;